*{
    background-color: rgb(183, 238, 255);
}

.title{
    background-color: rgb(211, 228, 243);
    font-size: 40px;
    padding: 30px;
    margin: 20px;
    border: 10px solid rgb(0, 0, 0);
}

.title-two{
    background-color: rgb(211, 228, 243);
    font-size: 30px;
    padding: 50px;
    margin: 60px;
    border: 10px solid rgb(5, 5, 5);
}

.box-one{
    background-color: rgb(233, 200, 200);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:5px ridge black; 
}   

.box-two{
     background-color: rgb(233, 200, 200);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:5px ridge black; 
}